# Cargo
target/
Cargo.lock

# macOS
.DS_Store

# Don't commit input files
input
/.idea/advent-of-code-rust.iml
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/modules.xml
/.idea/vcs.xml
